@font-face {
    font-family: digital-7;
    src: url(../fonts/digital-7.ttf);
}


#clock{
	display:none;
	font-size: 70px;
	font-family: digital-7;
	color:#24FF00;
	width: auto;
	height: auto;
	text-align:center;
	border-radius:30px;
	padding-top:50px;
	padding-bottom:50px;
	float:center;
	position: relative;


}

#startGame{
	background:black;
	font-size:70px;
	font-family: digital-7;
	color:#24FF00;
	border: 2px;
	border-top-color: gray;
	width: auto;
	height: auto;
	text-align:center;
	border-radius:30px;
	padding-top:50px;
	padding-bottom:50px;
	float: center;
	position: relative;
	cursor:pointer;
}
