@font-face {
    font-family: digital-7;
    src: url(../fonts/digital-7.ttf);
}


#clock{
	display:none;
	font-size: 50px;
	font-family: digital-7;
	color:#24FF00;
	background: black;
	width: 300px;
	height: auto;
	text-align:center;
	border-radius:30px;
	padding-top:50px;
	padding-bottom:50px;
	float:center;
	position: relative;
	margin: 0 auto;
	border: 10px solid gray;
	margin-top: 125px;


}

#startGame{
	background:black;
	font-size:50px;
	font-family: digital-7;
	color:#24FF00;
	border: 10px solid gray;
	width: 300px;
	height: auto;
	text-align:center;
	border-radius:30px;
	padding-top: 50px;
	padding-bottom:50px;
	float: center;
	position: relative;
	cursor:pointer;
	margin: 0 auto;
	margin-top: 125px;
}

#table img{
	height:400px;
	text-align:center;
	float: center;
	position: relative;
	margin: 0 auto;
}

body{ background: lightblue;
}