@font-face {
    font-family: digital-7;
    src: url(../fonts/digital-7.ttf);
}


#clock{
	display:none;
	font-size: 50px;
	font-family: digital-7;
	color:#24FF00;
	background: black;
	width: 300px;
	height: auto;
	text-align:center;
	border-radius:30px;
	border: 10px solid gray;
	/*padding-top:50px;*/
	/*padding-bottom:50px;*/
	/*float:center;*/
	/*position: relative;*/
	/*margin: 0 auto;*/
	
	/*margin-top: 125px;*/


}

#startGame{
	background:black;
	font-size:50px;
	font-family: digital-7;
	color:#24FF00;
	border: 10px solid gray;
	width: 300px;
	height: auto;
	text-align:center;
	border-radius:30px;
	cursor:pointer;

}

#table img{
	height:400px;
}

#tableWithClock{
	/*padding-top: 120px;*/
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	margin: 0 auto;
	border: solid 0px;
	width:323px;
	height:463px;

}
#socialIcons {
	width: 60px;
	padding-left: 50px;
	padding-top: 50px;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	
}

.circle{
	filter: blur(5px);
}


body{ background: lightblue;
}